#jinja2: trim_blocks:False
server = {% if "lan-client-server" in group_names %}true{% else %}false{% endif %}
ui = {% if "lan-client-server" in group_names %}true{% else %}false{% endif %}
{% if "wan-clients" in group_names %}
{% raw %}
client_addr = "{{GetInterfaceIP \"tailscale0\"}}"
advertise_addr = "{{GetInterfaceIP \"tailscale0\"}}"
bind_addr = "{{GetInterfaceIP \"tailscale0\"}}"
{% endraw %}
{% else %}
{% raw %}
client_addr = "0.0.0.0"
advertise_addr = "{{ GetPrivateInterfaces | include \"network\" \"192.168.50.0/24\" | attr \"address\" }}"
bind_addr = "0.0.0.0"
{% endraw %}
{% endif %}
{% raw %}
advertise_addr_wan = "{{ GetPrivateInterfaces | include \"network\" \"192.168.50.0/24\" | attr \"address\" }}"
{% endraw %}
translate_wan_addrs = true
data_dir = "/var/lib/consul"
datacenter = "homelab"
enable_syslog = true
leave_on_terminate = true
log_level = "WARN"
retry_join = ["192.168.50.39", "192.168.50.113", "192.168.50.85"]
{% if "lan-client-server" in group_names %}bootstrap_expect = 3{% else %}{% endif %}
telemetry {
  prometheus_retention_time = "60s"
}
