[Unit]
Description=nomad.agent
Requires=network-online.target tailscaled.service
After=network-online.target tailscaled.service
# Wait for NFS mounts to be available before starting Nomad
RequiresMountsFor=/home/shared /home/media/TV /home/media/Music /home/media/Movies /home/media/Books

[Service]
EnvironmentFile=-/etc/default/nomad
Restart=always
ExecStart=/usr/bin/nomad agent $OPTIONS -config=/etc/nomad.d/nomad.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
KillMode=process

[Install]
WantedBy=multi-user.target
