## Secrets, shhhhhh
## Modify this file to fit your cluster and then add rename it to .passwords
## This file is not yet used, eventually I might make a wrapper to template this into the vault secrets but for now you can just manually edit that file and rename it to secrets.yaml in the `vault` folder
COUCHPOTATO_APIKEY=
COUCHPOTATO_USERNAME=
COUCHPOTATO_PASS=
COUCHPOTATO_HOST=

PLEX_AUTHTOKEN=
PLEX_HOST=

PUSHOVER_APIKEY=
PUSHOVER_USERKEY=

NEWSNAB_API=
NEWSNAB_HOST=

MQTTPUB_REMOTE_USERNAME=
MQTTPUB_REMOTE_PASSWORD=
MQTTPUB_ADDRESS=

SONARR_API=
SONAR_HOST=

SABNZBD_API=
SABNZBD_HOST=

GITHUB_TOKEN=


