on:
  push:
    branches:
      - master

jobs:
  # JOB to run change detection
  changes:
    runs-on: self-hosted
    permissions:
      pull-requests: read
    outputs:
      jobs: ${{ steps.filter.outputs.nomadjobs_files }}
      volumes: ${{ steps.filter_volumes.outputs.volumes_files }}
    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4

    - uses: dorny/paths-filter@v2
      id: filter_volumes
      with:
        list-files: 'json'
        filters: |
          volumes: 
            - '**/volume.hcl'

    - uses: dorny/paths-filter@v2
      id: filter
      with:
        list-files: 'json'
        filters: |
          nomadjobs: 
            - 'plex/*.job'
            - 'coredns/*.job'
            - 'docker-registry/*.job'
            - 'github-runner/*.job'
            - 'iscsi-csi-plugin/*.job'
            - 'lidarr/*.job'
            - 'pihole/*.job'
            - 'plex/*.job'
            - 'radarr/*.job'
            - 'sabnzbd/*.job'
            - 'sickchill/*.job'
            - 'smtp/*.job'
            - 'tailscale/*.job'
            - 'tailscale-este/*.job'
            - 'www/*.job'

  add_volumes:
    runs-on: self-hosted
    needs: changes
    if: needs.changes.outputs.volumes != '[]'
    continue-on-error: true
    strategy:
      matrix:
        job: ${{ fromJSON(needs.changes.outputs.volumes ) }}

    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4

    - uses: lucasmelin/setup-nomad@v2

    - name: deploy
      shell: bash
      run: |
        nomad volume create ${{ matrix.job }}
      env:
        NOMAD_ADDR: 'http://nomad.service.home:4646'

  deploy_jobs:
    runs-on: self-hosted
    needs: changes
    if: needs.changes.outputs.jobs != '[]'
    continue-on-error: true
    strategy:
      matrix:
        job: ${{ fromJSON(needs.changes.outputs.jobs ) }}

    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4

    - uses: lucasmelin/setup-nomad@v2

    - name: deploy
      shell: bash
      run: |
        nomad job run ${{ matrix.job }}
      env:
        NOMAD_ADDR: 'http://nomad.service.home:4646'
        NOMAD_VAR_region: 'home'
        NOMAD_VAR_tld: '${{ secrets.NOMAD_VAR_TLD }}'
        NOMAD_VAR_shared_dir: '/home/shared/'
        NOMAD_VAR_downloads_dir: '/home/sabnzbd/downloads'
        NOMAD_VAR_music_dir: '/home/media/Music'
        NOMAD_VAR_movies_dir: '/home/media/Movies'
        NOMAD_VAR_books_dir: '/home/media/Books'
        NOMAD_VAR_tv_dir: '/home/media/TV'
        NOMAD_VAR_media_dir: '/home/media'
        NOMAD_VAR_auth: '${{ secrets.NOMAD_VAR_AUTH }}'
        NOMAD_VAR_otr_pass: '${{ secrets.NOMAD_VAR_OTR_PASS }}'
        NOMAD_VAR_web_pass: '${{ secrets.NOMAD_VAR_WEB_PASS }}'
        NOMAD_VAR_hass_key: '${{ secrets.NOMAD_VAR_HASS_KEY }}'
        NOMAD_VAR_github_pat: ${{ secrets.NOMAD_VAR_GITHUB_PAT }}
        NOMAD_VAR_datacenters_all: '["dc1", "public"]'
        NOMAD_VAR_datacenters_dc1: '["dc1"]'
        NOMAD_VAR_datacenters_public: '["public"]'
        NOMAD_VAR_tailscale_auth: '${{ secrets.NOMAD_VAR_TAILSCALE_AUTH }}'
        NOMAD_VAR_tailscale_auth_este: '${{ secrets.NOMAD_VAR_TAILSCALE_AUTH_ESTE }}'
        NOMAD_VAR_oauth_client_id: '${{ secrets.NOMAD_VAR_OAUTH_CLIENT_ID }}'
        NOMAD_VAR_oauth_client_secret: '${{ secrets.NOMAD_VAR_OAUTH_CLIENT_SECRET }}'
        NOMAD_VAR_oauth_secret: '${{ secrets.NOMAD_VAR_OAUTH_SECRET }}'
        NOMAD_VAR_oauth_emails: '${{ secrets.NOMAD_VAR_OAUTH_EMAILS }}'
        NOMAD_VAR_pushover_token: '${{ secrets.NOMAD_VAR_PUSHOVER_TOKEN }}'
        NOMAD_VAR_pushover_user_key: '${{ secrets.NOMAD_VAR_PUSHOVER_USER_KEY }}'
        NOMAD_VAR_ssh_id: '${{ secrets.NOMAD_VAR_SSH_ID }}'
        NOMAD_VAR_truenas_api_key: '${{ secrets.NOMAD_VAR_TRUENAS_API_KEY }}'
        NOMAD_VAR_gh_access_token: '${{ secrets.NOMAD_VAR_GH_ACCESS_TOKEN }}'

